@media (max-width:320px) {

    html {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
        overflow-x: hidden;
    }

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .sliderImg {
        width: 350px;
        height: 600px;
    }

}

@media (max-width:480px) {

 html {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
        overflow-x: hidden;
    }


    /* smartphones, Android phones, landscape iPhone */
    .sliderImg {
        width: 350px;
        height: 600px;
    }
}

@media (max-width:600px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .sliderImg {
        width: 350px;
        height: 600px;
    }
}

@media (max-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (max-width:1025px) {

    /* big landscape tablets, laptops, and desktops */

}

@media (max-width:1281px) {

    /* hi-res laptops and desktops */

}