/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
    font-family: 'Orbitron', sans-serif!important;
    font-weight: 400;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: auto;
    width: auto;
}

#sidebar {
    min-width: 250px;
    max-width: 350px;
}

#sidebar.active {
    margin-left: -250px;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}


.about p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    color: #999;
    text-align: left;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #fafafa;
    color: #000;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fafafa;
}

#sidebar ul.components {
    /* padding: 0; */
    border-bottom: 1px solid #fdfdfd;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #6a2d91;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #6a2d91;
    /* background: #6a2d91; */
}


#sidebar ul li.active>a:hover {
    color: #fff;
    background: #6a2d91;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6a2d91;
}

/* ul li:last-child {
    position:absolute;
    height: 50px;
    min-width: 250px;
    max-width: 250px;
    bottom: 0;
    list-style-type: none;
    padding-bottom:5.5em;

  } */

hr {
    min-width: 250px;
    max-width: 500px;
}

h5 {
    color: #6a2d91;
    font-weight: 700;
}

ul li {
    list-style-type: none;

}

.footer-top {
    background-color: #f0f0f0;
    padding: 0;
}

.home-card {
    background-repeat: no-repeat;
    color: #fff;

}

/* 
.btn-register{
    background-color: #fff;
    color:#662d91;
}

.btn-register:hover{
    color: #fff;
    background-color:#662d91;
    border-color: #fff;
}


button.btn-submit{
    background-color: #662d91;
    width: 150px;
    color:#fff;
}

button.btn-submit:hover{
    width: 150px;
    color: #662d91;
    background-color:#fff;
    border-color: #662d91;
}

button.btn-outline-submit{
    width: 150px;
    color: #662d91;
    background-color:#fff;
    border-color: #662d91;
}

button.btn-outline-submit:hover{
    background-color: #662d91;
    width: 150px;
    color:#fff;
}
 */

.home-text {
    font-size: 1.5em !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-card {
    border: 1px solid rgb(232, 232, 232);
    padding: 15px;
}

.form-card {
    border: 1px solid rgb(232, 232, 232);
    padding: 15px;
}


.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload {
    margin-bottom: 10px;
    position: relative;
}

@media (max-width: 991.98px) {
    .ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload {
        max-width: 400px;
        margin: 0 auto 15px auto;
    }
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-edit {
    position: absolute;
    right: 25px;
    z-index: 1;
    top: 25px;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-edit input {
    opacity: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-edit input+label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #eeeeee;
    cursor: pointer;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-edit input+label .svg_img {
    width: 25px;
    opacity: 0.6;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-edit input+label:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-preview {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 15px;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ec-vendor-uploads .ec-vendor-img-upload .ec-vendor-main-img .avatar-upload .avatar-preview .imagePreview img {
    margin: auto;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 10px;
}


.sidebar-accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    /* background-color: #fafafa; */
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.sidebar-accordion-body {
    margin-top: 1%;
    padding: 10px 20px;
    color: #000;
}

.sidebar-accordion-item {
    background-color: #fafafa;
    /* border: 1px solid rgba(0,0,0,.125); */
}


.slider {
    position: relative;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}


.sliderImg {
    width: 1920px;
    height: 720px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem !important;
    color: #a9a9a9;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem !important;
    color: #a9a9a9;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

/* 
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.0);
} */

.homeGrid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.ImageListItem {
    border-radius: 5%;
    box-shadow: 2px 2px 2px #fafafa;
}

.newsLetter {
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 
.MuiButton-outlined{
    background-color: #662d91!important;
    color:#eeeeee!important;
    border-color: #eeeeee!important;

}

.MuiButton-outlined:hover{
    background-color: #eeeeee!important;
    color:#662d91!important;
    border-color: #662d91!important;
}


.MuiButton-contained{
    background-color: #662d91!important;
    color:#eeeeee!important;
    border-color: #eeeeee!important;

}

.MuiButton-contained:hover{
    background-color: #eeeeee!important;
    color:#662d91!important;
    border: 1px solid #662d91!important;
} */

.MuiPaper-root {
    box-shadow: none !important;
}

.MuiGrid-root {
    /* background-color: #fff; */
    height: 50px;
    padding: 10px;
}

.socialicon {
    margin-right: 5px;
}

.social-svg-mask {
    fill: #999 !important;
    cursor: pointer;
}

.social-svg-mask:hover {
    fill: #662d91 !important;
    cursor: pointer;
}

/* 
.MuiGrid-container{
    background-color: #fafafa!important;
}

.MuiGrid-grid-xs-8{
    background-color: #fafafa!important;
}

.MuiGrid-grid-xs-4{
    background-color: #fafafa!important;
} */

h6 {
    background-color: #fafafa !important;
}
/* 
.MuiList-root {
    background-color: #fafafa !important;
} */

/* p{
    background-color: #fafafa!important;
} */



section.MuiGrid-root {
    background-color: #fafafa !important;

}

/* .css-9mgopn-MuiDivider-root{
    margin: 1% 35%!important;
} */


header {
    background-color: transparent !important;
}

nav {
    width: 100%;
    height: 35px;
    font-size: 0.8em !important;
}

.nav-dropdown {
    font-size: 0.7em !important;

}

.react-icons {
    vertical-align: middle;
}

input[type=search] {
    outline-offset: none !important;
}

.carousel {
    margin-top: -59px;
    z-index: -1;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.homeBadge {
    text-align: center;
    font-size: 40px;
    margin-left: 40%;
    border-bottom: 1px solid #471577;

}

.badgeText {
    font-family: "Orbitron";
    text-align: center;

}

.badgeHeading {
    font-family: "Orbitron";
    text-align: center;

}

.badgeColumn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
}


.footerHeading {
    font-family: "Orbitron";
    text-align: center;

}


.footerText {
    font-family: "Orbitron";
    text-align: center;

}

.footerTop {
    margin: 30px 0;
    background-color: #fff;
    padding: 10px 0;
}

.footerMain {
    margin-top: 8%;
}

.MuiListItem-root {
    display: inline !important;
}

.specImg{
    align-content: center;
    margin-left: 40%;
    margin-right: auto;
}

.specHeading{
    align-content: center;
  
}

.nav-link{
    color:#000;
    font-weight: 600;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    display: none!important;
}

.countDown{
    color:#471577!important;
}

.bg-dark{
    background-color: #000!important;
}

.bg-gray{
    background-color: #a9a9a9!important;
}


.text-white{
    color: #fff!important;

}

.MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium{
    width: 4rem!important;
}
